
body {
	background-color: #ffffff;
	font-family: 'Muli', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

.nav {
	background-color: #6f6f6f;
	color: white;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
}

.nav > li > a {
	text-decoration: none;
	color: white;
}

.nav li a:hover {background-color: #555;}

.icon {
	display: none;
}

@media screen and (max-width:680px) {
  .nav li:not(:first-child) {display: none;}
  .nav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  .nav.responsive {position: relative;}
  .nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive li {
    float: none;
    display: inline;
  }
  .nav.responsive li a {
    display: block;
    text-align: left;
  }
}

.container{
	padding: 0 100px 0 100px;
}

h3{
	text-align:center;
	color: #281f29;
}

.intro {
	text-align: center;
	color: black;
}

.break {
	color: #b3e079;
	text-align: center;
}

.headings {
	text-align: center;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.headings a{
	color:black;
}
.coffee1 {
	text-align: center;
	color: #2e5100;
}

.caferoco.jpg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.coffee1a {
	text-align: center;
	color: black;
}

.coffee1b {
	text-align: center;
	color: black;
	padding: 20px 0 20px 0;
}

.break {
	color: #b3e079;
	text-align: center;
}

.coffee2 {
	text-align: center;
	color: #2e5100;
}

.remos.jpg {
	align-self: center;
}

.coffee2a {
	text-align: center;
	color: black;
}

.coffee2b {
	text-align: center;
	color: black;
	padding: 20px 0 20px 0;
}

.break {
	color: #b3e079;
	text-align: center;
}

.coffee3 {
	text-align: center;
	color: #2e5100;
}

.tamper.jpg {
	align-self: center;
}

.coffee3a {
	text-align: center;
	color: black;
}

.coffee3b {
	text-align: center;
	color: black;
	padding: 20px 0 20px 0;
}
.break {
	color: #b3e079;
	text-align: center;
}

.coffee4 {
	text-align: center;
	color: #2e5100;
}

.alyssum.jpg {
	align-self: center;
}

.coffee4a {
	text-align: center;
	color: black;
}

.coffee4b {
	text-align: center;
	color: black;
	padding: 20px 0 20px 0;
}
.break {
	color: #b3e079;
	text-align: center;
}

.coffee5 {
	text-align: center;
	color: #2e5100;
}

.steamyard.jpg {
	align-self: center;
}

.coffee5a {
	text-align: center;
	color: black;
}

.coffee5b {
	text-align: center;
	color: black;
	padding: 20px 0 20px 0;
}

@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
.social-buttons {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 28%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
  background-color: #3B5998;
}
.social-button.facebook .fa {
  color: #3B5998;
}
.social-button.twitter:before {
  background-color: #3CF;
}
.social-button.twitter .fa {
  color: #3CF;
}
.social-button.google:before {
  background-color: #DC4A38;
}
.social-button.google .fa {
  color: #DC4A38;
}
.social-button.dribbble:before {
  background-color: #F26798;
}
.social-button.dribbble .fa {
  color: #F26798;
}
.social-button.skype:before {
  background-color: #00AFF0;
}
.social-button.skype .fa {
  color: #00AFF0;
}
.social-button:focus:before, .social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
